# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\备份文件\javaweb\ssmproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
